.date,
time[datetime] {
  opacity: 0.5;
  text-transform: capitalize;
  text-align: right;
  display: block;
}
/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+csharp+coffeescript+css-extras+markdown&plugins=line-numbers+toolbar+highlight-keywords+show-language */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		pointer-events: none;
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}
pre.code-toolbar {
	position: relative;
}

pre.code-toolbar > .toolbar {
	position: absolute;
	top: .3em;
	right: .2em;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

pre.code-toolbar:hover > .toolbar {
	opacity: 1;
}

pre.code-toolbar > .toolbar .toolbar-item {
	display: inline-block;
}

pre.code-toolbar > .toolbar a {
	cursor: pointer;
}

pre.code-toolbar > .toolbar button {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	-ms-user-select: none;
}

pre.code-toolbar > .toolbar a,
pre.code-toolbar > .toolbar button,
pre.code-toolbar > .toolbar span {
	color: #bbb;
	font-size: .8em;
	padding: 0 .5em;
	background: #f5f2f0;
	background: rgba(224, 224, 224, 0.2);
	-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
	        box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
	border-radius: .5em;
}

pre.code-toolbar > .toolbar a:hover,
pre.code-toolbar > .toolbar a:focus,
pre.code-toolbar > .toolbar button:hover,
pre.code-toolbar > .toolbar button:focus,
pre.code-toolbar > .toolbar span:hover,
pre.code-toolbar > .toolbar span:focus {
	color: inherit;
	text-decoration: none;
}


/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript&plugins=show-language+highlight-keywords */
/**
 * Cobalt2 theme for JavaScript, CSS, HTML, Markdown, JSON, YAML, and SCSS
 * @author wesbos
 * Works best when "Show Language" and "Highlight Keywords" plugins are included
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: 'Inconsolata', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.35;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius:0;
  border:0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #223545;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

/* Language before */
.prism-show-language {
  background:#1f4662;
  border-top: 2px solid #ffc600;
  text-align: right;
  padding: 5px;
  color:white;
  font-size: 11px;
}
.prism-show-language + pre {
  margin-top: 0;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #0088FF;
}

.token.comment, 
.token.italic {
  font-style:italic;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #FF628C;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #3AD900;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value {
  color: #ffc600;
}

.token.keyword.keyword-function {
  color: #ffa5f3;
  background:#1d3c52;
  padding: 4px 2px;
}

.token.keyword {
  color: #FF9D00;
}

.token.operator {
  color: #FF9D00;
}

.token.function {
  color: #ffc600;
}

.token.keyword.keyword-const,
.token.keyword.keyword-var,
.token.keyword.keyword-let {
  color: #ffc600;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

/* CSS requires Prism: CSS, CSS-Extras */

code.language-css,
.token.hexcode,
.language-css .token.boolean,
.language-css .token.number {
  color: #EDF080;
}

.language-css .token.selector {
  color: #9EFFFF;
}

.language-css .token.class,
.language-css .token.selector .token.class,
.language-css .token.attribute {
  color:#3AD900;
}

.language-css .token.property {
  color: #9DF39F;
}

.token.pseudo-class {
  color:#FF9A1A;
}

/* HTML Markup */

.language-markup .token.tag,
.token.doctype {
  color:#9EFFFF;
}

.language-markup .attr-name {
 color:#ffc600;
 font-style: italic;
}
.language-markup .attr-value {
  color:#3AD900;
}

/* Markdown */

.language-markdown .title {
  background:#000;
  color:#FDC500;
}

.language-markdown .url {
  color:#3AD900;
}

.language-markdown .list.punctuation {
  color:#FF9A1A;
}

/* JSON */

.language-json .property {
  color:#3AD900;
}

.language-json .operator {
  color:#f8f8f2;
}

/* YAML */

code.language-yaml {
  color:#3AD900;
}

.language-yaml .boolean {
  color:#F85B79;
}

/* SCSS */

code.language-scss {
  color:#E68885;
}

.language-scss .property {
  color:#80FFBB;
}

.language-scss .keyword {
  color:#FF9A1A;
}

.language-scss .token.variable {
  color:#ccc;
}

.language-scss .hexcode {
  color:#F85B79;
}

.language-scss .function {
  color:#fff;
}

pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		pointer-events: none;
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}
.language-xslt .token.function {
	opacity: 0.6;
}
.token.operator {
	background: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 65.2%;
}
body {
  font-family: "runda", Avenir, Helvetica, sans-serif;
  font-size: 1.6em;
  line-height: 1.5;
  color: #333;
  background: #233544;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #862d36;
}
a:hover,
a:focus {
  background: #862d36;
  -webkit-box-shadow: 0 0 0 4px #862d36;
          box-shadow: 0 0 0 4px #862d36;
  text-decoration: none;
  color: #d8dbdb;
  outline: none;
}
h1,
h2,
h3 {
  margin-top: 2em;
}
h1 {
  font-size: 24px;
  font-size: 2.4rem;
}
h2 {
  font-size: 20px;
  font-size: 2rem;
}
h3 {
  font-size: 18px;
  font-size: 1.8rem;
}
img {
  max-width: 100%;
}
pre {
  font-size: 13px;
  font-size: 1.3rem;
}
code:not([class]) {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.9em;
  background: #d8dbdb;
  padding: 4px;
}
kbd {
  background: #d8dbdb;
  padding: 2px 4px;
  border-radius: 0.1em;
  border: 1px solid outset;
  display: inline-block;
}
blockquote {
  display: inline-block;
  padding: 10px;
  border-radius: 0.3em;
  background: #d8dbdb;
  font-size: 1.2em;
  color: #58577d;
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 80, 0.25);
          box-shadow: 0 2px 12px rgba(0, 0, 80, 0.25);
}
blockquote * {
  margin: 0;
}
blockquote * + * {
  margin-top: 1em;
}
@media only screen and (max-width: 768px) {
  xhtml {
    -webkit-box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.25);
            box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.25);
  }
  body {
    font-size: 1.8em;
  }
  pre {
    font-size: 12px;
    font-size: 1.2rem;
  }
  pre.line-numbers {
    padding-left: 0.5em;
  }
  pre.line-numbers .line-numbers-rows {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  xhtml {
    -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 255, 0.25);
            box-shadow: inset 0 0 0 2px rgba(0, 0, 255, 0.25);
  }
}
section.post header h1 {
  font-size: 24px;
  font-size: 2.4rem;
}
main.post header h1 {
  font-size: 28px;
  font-size: 2.8rem;
  text-align: center;
}
main.post header time {
  display: block;
  text-align: right;
}
.mainnav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  padding-top: constant(safe-area-inset-top);
}
main {
  max-width: 45em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
}
main > h1 {
  position: absolute;
  top: -100%;
}
.logo {
  display: block;
  margin: 1em auto 0;
  text-align: center;
}
.logo img {
  max-width: 100%;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  opacity: 0.5;
}
.logo:hover {
  background: #6f7e8a;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.logo:focus {
  background: #6f7e8a;
  outline: initial;
}
.logo:hover img,
.logo:focus img {
  opacity: 1;
}
.post {
  margin-bottom: 6em;
}
@media only screen and (max-width: 768px) {
  main {
    max-width: auto;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  main > a[href="/"] {
    width: 75%;
  }
}
@supports (display: grid) {
  body {
    display: grid;
    grid-template-rows: 1.7em 250px 1.7em minmax(-webkit-min-content, 1fr);
    grid-template-rows: 1.7em 250px 1.7em minmax(min-content, 1fr);
    grid-template-columns: 1fr minmax(25ch, 70ch) 1fr;
    grid-gap: 0;
  }
  .mainnav {
    grid-row: 2;
    grid-column: 1 / -1;
    background: #2d4254;
    z-index: 1;
  }
  .mainnav ul {
    margin: 1.7em;
  }
  .mainnav ul a {
    color: #d8dbdb;
  }
  main {
    background: #8a97a1;
    margin: 0;
    max-width: none;
    grid-row: 1 / -1;
    grid-column: 2;
    z-index: 2;
    padding: 0;
    display: grid;
    grid-template-rows: 1.7em 250px 1.7em 1fr;
    grid-template-columns: 1em 1fr 1em;
  }
  .logo {
    background: #6f7e8a;
    grid-column: 1 / -1;
    grid-row: 2;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  .logo img {
    margin: auto;
  }
  .posts {
    grid-row: 4;
    grid-column: 2;
  }
}
