.date,
time[datetime] {
  color: #a6a6a6;
  text-transform: capitalize;
}
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		pointer-events: none;
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 65.2%;
}
body {
  font-family: "runda", Avenir, Helvetica, sans-serif;
  font-size: 1.6em;
  line-height: 1.5;
  color: #333;
  background: #f3f3f3;
}
a {
  color: #dd4020;
}
a:not([href="/"]):hover {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background: #dd4020;
  -webkit-box-shadow: 0 0 0 4px #dd4020;
          box-shadow: 0 0 0 4px #dd4020;
  text-decoration: none;
  color: #f3f3f3;
}
h1,
h2,
h3 {
  margin-top: 2em;
}
h1 {
  font-size: 24px;
  font-size: 2.4rem;
}
h2 {
  font-size: 20px;
  font-size: 2rem;
}
h3 {
  font-size: 18px;
  font-size: 1.8rem;
}
img {
  max-width: 100%;
}
pre {
  font-size: 13px;
  font-size: 1.3rem;
}
code:not([class]) {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.9em;
  background: #fff;
  padding: 4px;
}
kbd {
  background: #d8dbdb;
  padding: 2px 4px;
  border-radius: 0.1em;
  border: 1px solid outset;
  display: inline-block;
}
blockquote {
  display: inline-block;
  padding: 10px;
  border-radius: 0.3em;
  background: #fff;
  font-size: 1.2em;
  color: #58577d;
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 80, 0.25);
          box-shadow: 0 2px 12px rgba(0, 0, 80, 0.25);
}
blockquote * {
  margin: 0;
}
blockquote * + * {
  margin-top: 1em;
}
@media only screen and (max-width: 768px) {
  xhtml {
    -webkit-box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.25);
            box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.25);
  }
  body {
    font-size: 1.8em;
  }
  pre {
    font-size: 12px;
    font-size: 1.2rem;
  }
  pre.line-numbers {
    padding-left: 0.5em;
  }
  pre.line-numbers .line-numbers-rows {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  xhtml {
    -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 255, 0.25);
            box-shadow: inset 0 0 0 2px rgba(0, 0, 255, 0.25);
  }
}
section.post header h1 {
  font-size: 24px;
  font-size: 2.4rem;
}
main.post header h1 {
  font-size: 28px;
  font-size: 2.8rem;
  text-align: center;
}
main.post header time {
  display: block;
  text-align: right;
}
body {
  padding-top: constant(safe-area-inset-top);
}
main {
  max-width: 45em;
  margin-right: auto;
  margin-left: auto;
}
main > h1 {
  position: absolute;
  top: -100%;
}
main > a[href="/"] {
  display: block;
  margin: 1em auto 0;
  text-align: center;
}
main > a[href="/"] img {
  max-width: 100%;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  opacity: 0.1;
}
.post {
  margin-bottom: 6em;
}
@media only screen and (max-width: 768px) {
  main {
    max-width: auto;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  main > a[href="/"] {
    width: 75%;
  }
}
