@supports (--property: "value") {
  :root {
    --link-color-light: #c22;
    --link-color-light-50: rgba(204, 34, 34, 0.5);
    --code-color-light: #000;
    --bgcolor-light: #ddd;
    --fgcolor-light: #444;
    --bgcolornav-light: rgba(221, 221, 221, 0.8);
    --hr-color-light: rgba(0, 0, 0, 0.2);
    --bgcolor-semitrans-light: rgba(0, 0, 0, 0.2);
    --bglight-transparent: rgba(221, 221, 221, 0);
    --link-color-dark: #f84;
    --link-color-dark-50: rgba(255, 136, 68, 0.5);
    --code-color-dark: #999;
    --bgcolor-dark: #333;
    --fgcolor-dark: #ccc;
    --bgcolornav-dark: rgba(51, 51, 51, 0.8);
    --hr-color-dark: rgba(200, 200, 200, 0.2);
    --bgcolor-semitrans-dark: rgba(200, 200, 200, 0.2);
    --bgdark-transparent: rgba(51, 51, 51, 0);
    --note-color: #860;
    --note-color-20: rgba(136, 102, 0, 0.2);
    --link-color: var(--link-color-light);
    --link-color_50: var(--link-color-light-50);
    --codecolor: var(--code-color-light);
    --bgcolor: var(--bgcolor-light);
    --fgcolor: var(--fgcolor-light);
    --bgnav: var(--bgcolornav-light);
    --hr-color: var(--hr-color-light);
    --bgcolor-semi-trans: var(--bgcolor-semitrans-light);
    --bgcolor-transparent: var(--bglight-transparent);
    --navbar-texture: url(/assets/grey_@2X.png);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --link-color: var(--link-color-dark);
    --bgcolor: var(--bgcolor-dark);
    --fgcolor: var(--fgcolor-dark);
    --codecolor: var(--codecolor-dark);
    --bgnav: var(--bgcolornav-dark);
    --hr-color: var(--hr-color-dark);
    --bgcolor-semi-trans: var(--bgcolor-semitrans-dark);
    --bgcolor-transparent: var(--bgdark-transparent);
    --navbar-texture: url(/assets/grey-dark_@2X.png);
  }
  pre:not([class]) {
    color: var(--code-color-dark);
  }
}
:root {
  font-size: 120%;
  color-scheme: light dark;
}
/*
	This Stylesheet is a slightly modified version of Andy Bell's 
	[A Modern CSS Reset](https://github.com/hankchizljaw/modern-css-reset)

	Modifications include `height:auto` for `<img>` and some dark-mode defaults.
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  height: auto;
}
/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-play-state: paused !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
/* Set colors for links in dark mode */
@media (prefers-color-scheme: dark) {
  a:not([class]):link {
    color: #28f;
  }
  a:not([class]):visited {
    color: #84e;
  }
  a:not([class]):active {
    color: #c33;
  }
}
@font-face {
  font-family: Chicago;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url(fonts/ChicagoFLF.woff) format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Puritan';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/puritan-v24-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Puritan';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/puritan-v24-latin-italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Puritan';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/puritan-v24-latin-700.woff2') format('woff2');
}
@view-transition {
  navigation: auto;
}
@media (prefers-reduced-motion: no-preference) {
  ::view-transition-group(root) {
    animation-duration: 600ms;
    animation-timing-function: ease-in;
  }
  ::view-transition-old(root) {
    animation-name: dip;
  }
  ::view-transition-new(root) {
    animation-name: pop;
  }
}
@keyframes dip {
  to {
    translate: 0 100px;
    scale: 0.9;
    opacity: 0.4;
  }
}
@keyframes pop {
  from {
    translate: 0 -50px;
    opacity: 0;
  }
}
.navbar {
  view-transition-name: navbar;
}
body {
  font-family: Puritan, Avenir Next, Avenir, Lucida Grande, Helvetica, sans-serif;
  font-size: 1em;
  padding-right: 1em;
  padding-left: 1em;
  background: #ddd;
  background: var(--bgcolor);
  color: #444;
  color: var(--fgcolor);
}
:where(h1, h2, h3, h4) {
  font-family: Chicago, Avenir Next, Avenir, Lucida Grande, Helvetica, sans-serif;
  letter-spacing: -0.05em;
}
a {
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
:focus {
  outline: 2px dashed rgba(204, 34, 34, 0.5);
  outline-offset: 0.4em;
}
/* Set colors for links in light mode */
@media (prefers-color-scheme: light) {
  a:not([class]):link,
  a:not([class]):visited,
  a:not([class]):active {
    color: var(--link-color-light);
  }
  :focus {
    outline-color: var(--link-color-light-50);
  }
}
/* Set colors for links in dark mode */
@media (prefers-color-scheme: dark) {
  a:not([class]):link,
  a:not([class]):visited,
  a:not([class]):active {
    color: var(--link-color-dark);
  }
  :focus {
    outline-color: var(--link-color-dark-50);
  }
}
article {
  margin: 2em auto 3rem;
  max-width: 75ch;
}
article h1 {
  color: var(--fgcolor);
  background: var(--bgcolor-semi-trans);
  font-size: 2.2em;
  letter-spacing: -0.07em;
  padding: 0 0 0 1em;
  display: flex;
  justify-content: space-between;
  border-radius: 3px 0 0 3px;
}
article h1 > * {
  margin-right: auto;
}
article h1 + .date {
  display: block;
  text-align: right;
}
article h1 + *:not(.date) {
  margin-top: 3.5em;
}
article h1::after {
  content: "";
  flex: 0 1 7rem;
  border: 20px var(--bgcolor);
  border-style: solid none;
  border-top-width: 10px;
  border-left: 8px solid var(--bgcolor-semi-trans);
  margin-left: 10px;
}
article h2 {
  border-bottom: 1px solid;
  margin-bottom: 1em;
  margin-top: 2em;
}
article h2::after {
  content: "";
  display: block;
  height: 10px;
  border-right: 10px solid;
  margin-top: -5px;
}
article h2 a {
  color: inherit !important;
  text-decoration: none;
}
article h2 a:hover,
article h2 a:focus {
  color: var(--link-color) !important;
  text-decoration: underline;
}
article pre[class*=language-],
article blockquote {
  margin-top: 3em;
  margin-bottom: 2em;
}
article pre[class*=language-],
article pre[class*=language-] code[class*="language-"] {
  font-size: 0.8rem;
}
article code:not([class]) {
  background: #ccc;
  color: #666;
  box-shadow: 0 0 0 2px #ccc;
  padding-right: 0.2em;
  padding-left: 0.2em;
}
article figure {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-bottom: 0;
}
article figure img {
  width: 100%;
}
article figcaption {
  max-width: 100%;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.1em 1em;
  background: rgba(0, 0, 0, 0.3);
}
article blockquote {
  margin-top: 2rem;
  position: relative;
  font-style: italic;
  background: #000;
  color: #fff;
  padding: 1rem 1rem 1rem 3rem;
  border-left: 6px solid #999;
}
article blockquote::before,
article blockquote::after {
  font-style: normal;
  font-size: 3rem;
  line-height: 1;
  height: 1rem;
  opacity: 0.5;
  position: absolute;
}
article blockquote::before {
  content: open-quote;
  left: 1rem;
  top: 0.1rem;
}
article blockquote::after {
  content: close-quote;
  right: 1.3rem;
  bottom: 0.4rem;
}
article > hr {
  border: 1px dashed rgba(0, 0, 0, 0.3);
  border-color: var(--hr-color);
  width: 25%;
}
article .note {
  border: 1px solid var(--note-color);
  background: var(--note-color-20);
  border-radius: 3px;
  padding: 1em;
  font-size: smaller;
}
article del {
  opacity: 0.5;
}
article ins {
  text-decoration: none;
  background: rgba(154, 205, 50, 0.2);
}
article pre:not([class]) {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  overflow-x: auto;
  color: #000;
  color: var(--codecolor);
}
@media (max-width: 35rem) {
  article h1 {
    font-size: 1.6em;
    line-height: 1.3;
  }
}
.skipper {
  font-family: Chicago, Avenir Next, Avenir, Lucida Grande, Helvetica, sans-serif;
  letter-spacing: -0.05em;
  display: inline-block;
  padding: 1em;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
}
.skipper:focus {
  outline: none;
}
.skipper:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.navbar {
  font-family: Chicago, Avenir Next, Avenir, Lucida Grande, Helvetica, sans-serif;
  letter-spacing: -0.05em;
  padding: 10px 0;
  background-image: linear-gradient(to right, var(--bgcolor) 20%, var(--bgcolor-transparent) 45%, var(--bgcolor-transparent) 55%, var(--bgcolor) 80%), var(--navbar-texture);
  background-position: center top;
  background-size: 100%, 397px 322px;
}
.navbar > * {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.navbar > * > * {
  margin: 5px;
}
.navbar .links ul {
  display: none;
}
.navbar .links a {
  padding: 0.3em 0.8em;
  display: inline-block;
  text-decoration: none;
  color: var(--fgcolor);
  font-weight: bold;
}
.navbar .links a:hover,
.navbar .links a:focus {
  outline: none;
  background: var(--fgcolor);
  color: var(--bgcolor);
}
.navbar .links a:focus + ul,
.navbar .links a + ul:focus-within {
  display: block;
  position: absolute;
  background: var(--fgcolor);
}
.navbar .links a:focus + ul a,
.navbar .links a + ul:focus-within a {
  color: var(--bgcolor);
}
.navbar .links a:focus + ul a:focus,
.navbar .links a + ul:focus-within a:focus {
  background: rgba(0, 0, 0, 0.2);
}
.navbar .links a[aria-current] {
  text-decoration: underline;
}
body {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
body > footer {
  margin-top: auto;
}
body > footer .logo {
  margin: 1em auto;
  opacity: 0.2;
}
@media (prefers-color-scheme: dark) {
  body > footer .logo {
    opacity: 0.8;
    mix-blend-mode: multiply;
  }
}
@supports (display: grid) {
  article {
    margin: 0 0 3rem;
    max-width: none;
    display: grid;
    grid-template-columns: [full-start] minmax(auto, 1fr) [header-start] 1fr [code-start] 1fr [content-start] minmax(auto, 75ch) [content-end] 2fr [code-end] 1fr [header-end] minmax(auto, 1fr) [full-end];
  }
  article > * {
    grid-column: content;
  }
  article > h1,
  article > .date {
    grid-column: header;
  }
  article > [class*="language-"] {
    grid-column: code;
  }
}
