<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Greystate Web Sanctuary</title>
	<link rel="stylesheet" href="/assets/app.css">
	<link rel="stylesheet" href="/assets/prism-okaidia.css">
	<link rel="stylesheet" href="/assets/prism-line-numbers.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<meta name="format-detection" content="telephone=no">
</head>
<body>

{{ content }}


<script src="/assets/prism.js"></script>
<script src="/assets/prism-csharp.js"></script>
<script src="/assets/prism-line-numbers.min.js"></script>
</body>
</html>
