html, body { margin: 0; padding: 0; }

html {
  font-size: 65.2%;
}

body {
  font-family: "runda", Avenir, Helvetica, sans-serif;
  font-size: 1.6em;
  line-height: 1.5;
  color: @color_text;
  background: @bgcolor_main;
}

a {
  color: @color_link;
}

a:not([href="/"]):hover {
  transition: all 0.2s ease-in;
  background: @color_link;
  box-shadow: 0 0 0 4px @color_link;
  text-decoration: none;
  color: @bgcolor_main;
}

h1, h2, h3 {
  margin-top: 2em;
}

h1 { .font-size(24); }
h2 { .font-size(20); }
h3 { .font-size(18); }

img { max-width: 100%; }

pre {
	.font-size(13);
}

code:not([class]) {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.9em;
  background: #fff;
  padding: 4px;
}

kbd {
  background: #d8dbdb;
  padding: 2px 4px;
  border-radius: 0.1em;
  border: 1px solid outset;
  display: inline-block;
}

.compact-width({

  xhtml {
    box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.25);
  }
  
  body {
    font-size: 1.8em;
  }
  
  pre {
    .font-size(12);
    
    &.line-numbers {
      padding-left: 0.5em;

      .line-numbers-rows { display: none; }
    }
    
  }
  
});

.regular-width({
  xhtml {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 255, 0.25);
  }
});


