body {
	padding-top: constant(safe-area-inset-top);
}

main {
	max-width: 45em;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1em;
	padding-left: 1em;
	
	> h1 { position: absolute; top: -100%; }
}

.logo {
	display: block;
	margin: 1em auto 0;
	text-align: center;

	img {
		max-width: 100%;
		transition: opacity 0.3s linear;
		opacity: 0.5;
	}

	&:hover {
		background: #6f7e8a;
		box-shadow: none;
	}
	
	&:focus {
		background: #6f7e8a;
		outline: initial;
	}
	
	&:hover, &:focus {
		img {
			opacity: 1;
		}
	}
	
}

.post {
	margin-bottom: 6em;
}

.compact-width({
	main {
		max-width: auto;
		width: auto;
		margin-left: @compact_side_margin;
		margin-right: @compact_side_margin;
		
		> a[href="/"] {
			width: 75%;
		}
	}
});

@supports(display: grid) {
	@grid_gutter: 1.7em;

	body when (@enable_grid = true) {
		display: grid;
		grid-template-rows: @grid_gutter 250px @grid_gutter minmax(min-content, 1fr);
		grid-template-columns: 1fr minmax(25ch, 70ch) 1fr;
		grid-gap: 0;
	}
	
	.mainnav {
		grid-row: 2;
		grid-column: 1 / -1;
		background: #2d4254;
		z-index: 1;
		
		ul {
			margin: @grid_gutter;

			a {
				color: @white;
			}
		}
	}
	
	main {
		background: #8a97a1;
		margin: 0;
		max-width: none;
		grid-row: 1 / -1;
		grid-column: 2;
		z-index: 2;
		padding: 0;
		
		display: grid;
		grid-template-rows: @grid_gutter 250px @grid_gutter 1fr;
		grid-template-columns: 1em 1fr 1em;
	}

	.logo {
		background: #6f7e8a;
		grid-column: 1 / -1;
		grid-row: 2;
		margin: 0;
		display: flex;
		transform: translateY(-2px);
		
		img {
			margin: auto;
		}
	}
	
	.posts {
		grid-row: 4;
		grid-column: 2;
	}

} // @supports